*.s
*.o
*.i90
*.mod
*.swp
*.pyc
src/commit.h
src/deplist.mk
src/lib*.a
src/preprocflags.f90
src/srcfiles_pp.mk

# build folders
bin/*
ini/*
lib/*
share/*
build*/
!builds.ini

# tags
ctags.txt

# core dump files
core

# regression test
output_dir/
reggie_run/
regressioncheck/**/*.csv

# documentation / sphinx
_build/

# temporary files
cache/
.flexi.ini

# hopr debug files
sfc.dat

# visualization files
*.vtu
*.pvtu
*.h5
*.pvsm

# flexi debug files
out.*.dat
*.out

# cmake temporary files
.tags
ctags.txt
CMakeCache.txt
CMakeFiles/
userblock.tmp

# integrated development environment (ide)
.vscode/
nbproject/
